html {
    height: 100%;
    --wwu-dark-blue: #002f5e;
    --wwu-light-blue: #63c2ff;
}
body {
    background-color: var(--wwu-dark-blue);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
.sticky {
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: var(--wwu-dark-blue);
}
.col {
    background-color: #003f87;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
    padding: 0px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.found {
    background-color: #007ac8;
    box-shadow: 0px 0px 5px 1px var(--wwu-light-blue);
    cursor: pointer;
    display: flex;
}
.col img {
    max-height: 10em;
    filter: blur(0.5rem);
    box-shadow: 0px 0px 5px 1px black;
}
.found img {
    filter: none;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #bad80a;
    margin: 0 0 10px;
    padding-top: 20px;
}
p, label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}
p {
    padding: 0.5em 0em;
    margin: 0px;
}
.guess-input {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#input {
    margin-right: 5px;
}
.progress {
    position: relative;
    width: 95%;
    margin: 20px auto 10px;
    background-color: #003f87;
    box-shadow: 0px 0px 5px 1px black;
}
.progress-bar {
    background-color: #007ac8;
    box-shadow: 0px 0px 5px 1px var(--wwu-light-blue);
}
.complete {
    box-shadow: 0px 0px 5px 1px var(--wwu-light-blue);
}
#progress-text {
    position: absolute;
    inset: 0;
    padding: 0.4rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 5px;
    text-shadow: 0px 0px 10px black;
    font-size: 100%;
}
hr {
    border-top: 2px solid white;
    box-shadow: 0px 0px 5px 1px black;
}
#reset {
    margin: 10px auto;
}
.hidden {
    display: none;
    visibility: hidden;
}
.hidden h1 {
    display: none;
    visibility: hidden;
}
.hidden div {
    display: none;
    visibility: hidden;
}
.hidden div div {
    display: none;
    visibility: hidden;
}
.hidden div div img {
    display: none;
    visibility: hidden;
}
.hidden div div p {
    display: none;
    visibility: hidden;
}
.incorrect {
    color: #CC2D30;
    font-weight: bold;
}
#footer {
    margin-bottom: 10px;
}